/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: local('../fonts/Vazir'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype'); }

* {
    /* border: 1px solid black; */
    font-family: 'Vazir', sans-serif;
    direction: rtl; }


.sidenav-main .brand-sidebar .logo-wrapper .brand-logo img {
padding: 0px 0px 0px 0px; 
margin: 18px 1px -8px 0px;}
.nav-collapsed .brand-sidebar .logo-wrapper .brand-logo img {
padding: 0px 0px 0px 0px; 
margin: 18px 1px -8px 0px;}
.nav-lock .brand-sidebar .logo-wrapper .brand-logo img {
padding: 0px 0px 0px 0px; 
margin: 18px 1px -8px 0px;}
.nav-expanded .brand-sidebar .logo-wrapper .brand-logo img {
padding: 0px 0px 0px 0px; 
margin: 18px 1px -8px 0px;}

.sidenav-main .brand-sidebar .logo-wrapper .brand-logo .logo-text {
padding: 0px 0px 0px 0px; 
margin: 0px -10px 0px 0px;
font-weight: bold; }
.nav-collapsed .brand-sidebar .logo-wrapper .brand-logo .logo-text {
padding: 0px 0px 0px 0px; 
margin: 0px -10px 0px 0px;
font-weight: bold; }
.nav-lock .brand-sidebar .logo-wrapper .brand-logo .logo-text {
padding: 0px 0px 0px 0px; 
margin: 0px -10px 0px 0px;
font-weight: bold; }
.nav-expanded .brand-sidebar .logo-wrapper .brand-logo .logo-text {
padding: 0px 0px 0px 0px; 
margin: 0px -10px 0px 0px;
font-weight: bold; }

.sidenav-main .brand-sidebar .logo-wrapper .brand-logo {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-collapsed .brand-sidebar .logo-wrapper .brand-logo {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-lock .brand-sidebar .logo-wrapper .brand-logo {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-expanded .brand-sidebar .logo-wrapper .brand-logo {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}

.sidenav-main .brand-sidebar .logo-wrapper {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-collapsed .brand-sidebar .logo-wrapper {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-lock .brand-sidebar .logo-wrapper {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}
.nav-expanded .brand-sidebar .logo-wrapper {
padding: 0px 0px 0px 0px; 
margin: 0px 0px 0px 0px;}

div a.invoice-create {
background-color: #3f51b5;}
div a.invoice-create:hover {
background-color: #3f51b5;}

div a.invoice-export {
background-color: #3f51b5;}
div a.invoice-export:hover {
background-color: #3f51b5;}
